body{
    background: linear-gradient(to bottom, black, rgb(59, 59, 59));
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top: 10px;
    font-family: 'Inter', sans-serif; 
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb{
     background: blue;
     border-radius: 6px;
}

#section-1{
    height:0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-top: 10px;
}

#section-2{
    height:0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


#section-3{
   
    height:0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
   
}

.flex-stage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.flex-collum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-collum-1{
    max-width: 60ch;
}
#section-4{
    height:0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#section-5{
    height:0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

h1{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

p{
    color: white;
    text-align: left;
}

#OverMij{
    max-width: 40ch;
    font-size: large;
}

li{
    color: white;
    text-align: left;
    font-size: 14px;
}


/* slide begin 1 */
.slider{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
    position: absolute;
    right: 50%;
    left: 60%;
    top: 130vh;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 400px;
    height: 500px;
}

/*css manual nav*/

.navigation-manual{
    position: absolute;
    width: 400px;
    margin-top: 450px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #000000;
}

#radio-1:checked ~ .first{
    margin-left: 0;
}

#radio-2:checked ~ .first{
    margin-left: -20%;
}

#radio-3:checked ~ .first{
    margin-left: -40%;
}

#radio-4:checked ~ .first{
    margin-left: -60%;
}

/* css automatic*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 450px;
}

.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio-1:checked ~ .navigation-auto .auto-btn-1{
    background: #ffffff;
}

#radio-2:checked ~ .navigation-auto .auto-btn-2{
    background: #ffffff;
}

#radio-3:checked ~ .navigation-auto .auto-btn-3{
    background: #ffffff;
}

#radio-4:checked ~ .navigation-auto .auto-btn-4{
    background: #ffffff;
}
/*slide einde 1*/

h2{
    color: white; 
    text-align: center;
    margin-top: 4%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h3{
    color: white; 
    text-align: center;
    margin-top: 4%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h4{
    color: white; 
    text-align: center;
    margin-top: 4%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h5{
    color: white; 
    text-align: center;
    margin-top: 4%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h6{
    color: white; 
    text-align: center;
    margin-top: 4%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

a.scroll-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 48%;
    right: 48%;
    bottom: 0%;

    margin: auto;
    padding: 50px;

    height: 0;
}

.arrow {
    border: solid white;
    padding: 5px;
    border-width: 0 6px 6px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    left: 50%;
    right: 50%;
}

.arrow2 {
    border: solid white;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    left: 50%;
    right: 50%;
}

a.scroll-btn-2{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 48%;
    right: 48%;
    bottom: -104%;

    margin: auto;
    padding: 50px;

    height: 0;
}

.arrow3 {
    border: solid white;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    left: 50%;
    right: 50%;
}

a.scroll-btn-3{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 48%;
    right: 48%;
    bottom: -204%;

    margin: auto;
    padding: 50px;

    height: 0;
}

.arrow4 {
    border: solid white;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    left: 50%;
    right: 50%;
}

a.scroll-btn-4{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 48%;
    right: 48%;
    bottom: -304vh;

    margin: auto;
    padding: 50px;

    height: 0;
}



.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    padding: 20px auto;

}



.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    padding-top: 130px;
}

.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

