

body{


       background: linear-gradient(to bottom, black, rgb(37, 36, 36));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting";
    font-size: 42px;
    
}