body{


       background: linear-gradient(to bottom, black, rgb(59, 59, 59));
    background-repeat: no-repeat;
    background-attachment: scroll;
}
html{
    scroll-behavior: smooth;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white; 
    text-align: center;
    margin-top: 10%;
    height: 100px;
    
}
h3{
    color: white;
    text-align: center;
    

}
p{
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting";
    font-size: 42px;
    
}
a.scroll-btn{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 6%;
    margin: auto;
}
a.scroll-btn-2{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 80%;
    right: 20%;
    bottom: 90vh;
    margin: auto;
}